<ion-view view-title="Artist Details">
  <ion-content class="theme-tan centerElement">
    <div class="morePadding">
      <h1 class="bebasXL">{{artist.name}}</h1>
      <p class="bebasMedium">{{artist.location}}</p>
      <img class="artistImage" src="{{artist.image}}" />
      <div class="performanceInfo centerElement">
        <div class="piBlock" style="margin-left: -5px;"><img src="img/glyphs/pindrop.svg" alt="Stage Location" /><p>{{artist.stage}}</p></div>
        <div class="piBlock"><img src="img/glyphs/clock.svg" alt="Set Time" /><p>{{artist.time}}</p></div>
      </div>
      <div class="socialSection">
        <img class="socialglyph" src="img/glyphs/facebook.svg" alt="Facebook "/>
        <img class="socialglyph" src="img/glyphs/twitter.svg" alt="Twitter" />
        <img class="socialglyph" src="img/glyphs/instagram.svg" alt="Instagram" />
      </div>
    </div>
  </ion-content>
</ion-view>
