<ion-view view-title="F.A.Q.">
  <ion-content class="padding theme-tan faq">
    <b>Will tickets be available the day of the festival?</b>
    <p>Yes, tickets will be available at the box office the day of the festival at an increased price.</p>

    <b>What are the parking options?</b>
    <p>On-site parking is available at the festival location. Advanced parking is available when purchasing tickets online at a discounted price. Advanced purchased parking passes must be present with you upon arrival at the festival to gain entry to the festival parking lot.</p>

    <b>What time does the festival start?</b>
    <p>Festival gates will open at noon with performances beginning at 12:30 PM and ending at
11:00 PM.</p>

    <b>What time does ______ perform?</b>
    <p>Be sure to check out the setlist on the Home Page or you can check when your favorite artist is playing by going directly to their page in the Lineup menu.</p>

    <b>Will the lineup change?</b>
    <p>Artists and lineup are subject to change without notice.</p>

    <b>Do kids get in for free?</b>
    <p>Yes, any kid under the age of 8 is allowed free admission and must be accompanied by an adult at all times. No more than two kids will be allowed per adult to enter.</p>

    <b>Will food be available?</b>
    <p>Food will be available for sale from several local food vendors. Many options will be available including vegetarian and vegan options.</p>

    <b>Will alcohol be available?</b>
    <p>The venue will have various alcoholic beverages for sale such as beer, wine, and liquor. Anyone consuming alcohol will need to present a government issued ID.</p>

    <b>Is re-entry allowed?</b>
    <p>Due to liability, re-entry will not be allowed at the festival.</p>

    <b>Are backpacks and purses allowed?</b>
    <p>Backpacks, purses, small bags, etc are allowed and subject to search at festival gate by security personnel.
The following items are not allowed:Guns, knives, weapons of any kind, illegal substances, outside food and/or beverages, glass containers, skateboards, fireworks, umbrellas, chairs, tents, coolers, or pets (except service animals).</p>

    <b>Are ATMs at the festival?</b>
    <p>Yes, there will be ATMs available at the festival site.</p>

    <b>Can I bring a camera?</b>
    <p>Everyday use cameras are allowed. Professional cameras are not allowed and any recording is not allowed unless permitted by Pinelands Music Festival. For press inquires please contact info@pinelandsmusicfest.com</p>

    <b>Will security be present?</b>
    <p>Pinelands Music Festival will provide professional event security personnel for the protection and safety of festival attendees.</p>

    <b>Will emergency staff be present?</b>
    <p>EMT's will be present at the festival site as well as first-aid areas in case of an emergency.</p>

    <b>Is New Jersey Motorsports Park and the festival handicap accessible?</b>
    <p>Yes, the venue and festival grounds are handicap accessible and ADA compliant.</p>
  </ion-content>
</ion-view>
