<ion-content style="background-color: #ebe5dd;">
  <img style="max-width: 450px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; width: 90%; height: auto;" src="/img/logo.png"></img>

  <div class="row">
    <div class="col">
      <a style="display: block;" class="button button-large button-darkblue" href="#/tab/artists">Artists</a>
    </div>
    <div class="col">
      <a style="display: block;" class="button button-large button-green" href="#/tab/news">News</a>
    </div>
  </div>


</ion-content>
