<ion-view view-title="Home">
<ion-content style="background-color: #ebe5dd;" class="padding">

  <img style="max-width: 450px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px; width: 90%; height: auto;" src="img/logo-lightbrown.png"></img>

  <br />
  <hr />
  <br />

  <button class="button button-block theme-darkorange bebasLarge">
    <p class="centerElement padding">Hello</p>
  </button>
  <button class="button button-block theme-lightblue bebasLarge">
    <p class="centerElement padding">Hello</p>
  </button>

</ion-content>
</ion-view>
