<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-darkbrown">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-darkbrown">
      <img src="img/logo-lightbrown.png" class="menulogo" />
    </ion-header-bar>
    <ion-content class="theme-darkbrown">
      <ion-list>
        <ion-item class="item-lightbrown" nav-clear menu-close href="#/app/home">
          <h1 class="theme-lightbrown bebasLarge">HOME</h1>
        </ion-item>
        <ion-item class="item-lightorange" nav-clear menu-close href="#/app/artists">
          <h1 class="theme-lightorange bebasLarge">LINEUP</h1>
        </ion-item>
        <ion-item class="item-darkorange" nav-clear menu-close href="#/app/info">
          <h1 class="theme-darkorange bebasLarge">INFORMATION</h1>
        </ion-item>
        <ion-item class="item-darkblue" nav-clear menu-close href="#/app/faq">
          <h1 class="theme-darkblue bebasLarge">F.A.Q.</h1>
        </ion-item>
        <ion-item class="item-lightblue" nav-clear menu-close href="#/app/sponsors">
          <h1 class="theme-lightblue bebasLarge">SPONSORS</h1>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
