<ion-view view-title="Sponsors" overflow-scroll="true">
  <ion-content class="theme-tan sponsor centerElement padding">
    <h1 class="bebasXL">Thank you to all of our sponsors!</h1>

    <img src="img/sponsors.png" />

  <!--   <img src="img/sponsors/amateur.png" alt="Amateur Person" />
    <img src="img/sponsors/balmerblack.png" alt="Balmer Black" />
    <img src="img/sponsors/bearnaked.png" alt="Bear Naked" />
    <img src="img/sponsors/catalyst.png" alt="The Catalyst Publicity Group" />
    <img src="img/sponsors/grandaire.png" alt="Grandaire Booking LLC" />
    <img src="img/sponsors/idobi.png" alt="idobi Radio" />
    <img src="img/sponsors/merchnow.png" alt="MerchNow" />
    <img src="img/sponsors/tdbank.png" alt="TD Bank" />
    <img src="img/sponsors/thrillcall.png" alt="Thrillcall" />
    <img src="img/sponsors/tower.png" alt="Tower Hospitality" />
    <img src="img/sponsors/xfinity.png" alt="Xfinity" />
    <img src="img/sponsors/yards.png" alt="Yards Brewing Company" /> -->
  </ion-content>
</ion-view>
