<ion-view view-title="Sponsors">
  <ion-content class="theme-tan sponsor centerElement padding">
    <h1 class="bebasXL">Thank you to all of our sponsors!</h1>
    <img src="img/xfinity.png" alt="Xfinity" />
    <img src="img/tdbank.png" alt="TD Bank" />
    <img style="height: 150px;" src="img/yards.png" alt="Yards Brewing Company" />
    <img style="height: 80px;" src="img/idobi.png" alt="idobi Radio" />
    <img style="height: 200px;" src="img/bearnaked.png" alt="Bear Naked" />
  </ion-content>
</ion-view>
