<ion-view view-title=" ">
<ion-content style="background-color: #ebe5dd;">
  <img style="max-width: 450px; display: block; margin-left: auto; margin-right: auto; margin-top: 10px; width: 90%; height: auto;" src="img/logo.png"></img>

  <div class="row">
    <div class="col">
      <div class="countdownClock clockTransform"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a style="display: block;" class="button button-large button-green" ng-click="Link('http://www.eventbrite.com/e/pinelands-music-festival-tickets-15906292148')">Purchase Tickets</a>
    </div>
  </div>

</ion-content>
</ion-view>
