@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasKaiRegular.eot');
    src: url('../fonts/BebasKaiRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasKaiRegular.woff2') format('woff2'),
         url('../fonts/BebasKaiRegular.woff') format('woff'),
         url('../fonts/BebasKaiRegular.ttf') format('truetype'),
         url('../fonts/BebasKaiRegular.svg#BebasKaiRegular') format('svg');
}

body {
  background-color: #ebe5dd !important;
}
.morePadding {
  padding: 25px;
}
/* Background Colors */
.theme-tan {
  background-color: #ebe5dd !important;
  color: #2D2925 !important;
}
.theme-darkbrown {
  background-color: #2D2925 !important;
  color: #4C403B !important;
}
.theme-lightbrown {
  background-color: #4C403B !important;
  color: #2D2925 !important;
}
.theme-darkorange {
  background-color: #A15124 !important;
  color: #C07129 !important;
}
.theme-lightorange {
  background-color: #C07129 !important;
  color: #A15124 !important;
}
.theme-darkgreen {
  background-color: #B2CC44 !important;
  color: #E1ECBB !important;
}
.theme-lightgreen {
  background-color: #E1ECBB !important;
  color: #B2CC44 !important;
}
.theme-darkblue {
  background-color: #133945 !important;
  color: #34856E !important;
}
.theme-lightblue {
  background-color: #34856E !important;
  color: #133945 !important;
}

.bebasSmall {
  font-family:"Bebas", sans-serif;
  font-size: 16px !important;
}
.bebasMedium {
  font-family:"Bebas", sans-serif;
  font-size: 24px !important;
}
.bebasLarge {
  font-family:"Bebas", sans-serif;
  font-size: 32px !important;
}
.bebasXL {
  font-family:"Bebas", sans-serif;
  font-size: 38px !important;
}

.centerElement {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.menulogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
}

.performanceInfo {
  margin-top: 25px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(64,64,64);
  color: white;
  height: auto;
  padding: 5px;
  width: auto;
  max-width: 300px;
}
.performanceInfo img {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}
.performanceInfo p {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  margin-left: 5px;

}
.performanceInfo .piBlock {
  display: inline-block;
  margin: 10px;
}

.artistImage {
  width: 100%;
  height: 100%;
  max-height: 600px;
  height: auto;
  border-radius: 300px;
  border-color: transparent;
  margin-top: 25px;
}

.socialSection {
  margin-top: 25px;
  margin-bottom: 25px;
}

.socialglyph {
  height: 44px;
  width: 44px;
  margin: 8px;
}

.faq b {
  color: #C07129;
  font-size: 1.2em;
}

.sponsor img {
  height: 90px;
  width: auto;
  display: block;
  margin: 20px auto;
}

@media (min-width: 650px){
  .artistImage {
    width: 600px;
    height: 600px;
    margin-top: 50px;
  }
}
